@import './_grid.scss';
@import './variables';

.SpecialMenu {
    padding: 100px 0;
    height: 600px;
    background: $greyBG;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    .container{
        width: 80%;
    }
    h5{
        color: grey;
        font-size: 1.1rem;
        margin: .7rem 0 1rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        color: $titleColor;
    }
    h2 {
        color: $black;
        font-family: $rozhaFont;
        font-size: 3rem;
        text-transform: capitalize;
        margin: .5rem 0 3rem;
        text-align: center;
    }
    p{
        font-size: 1.2rem;
        color: grey;
        line-height: 1.8;
        margin: .5rem 0 3rem;
        text-align: center;
        color: $paragraphColor;
        font-weight: 300;
    }
    .col-md-4 {
        width: 30%;
        background: white;
        height: 400px;
        margin-left: 3.33%;
        padding-bottom: 100px;
        @media only screen and (max-width: 425px) {
            width: 100%;
            margin-left: 0;
        }
        @media only screen and (max-width: 375px) {
            width: 100%;
        }
        @media only screen and (max-width: 320px) {
            width: 100%;
        }
    }
    .box {
        background: #fff;
        .box-img {
            width: 100%;
            height: 200px;
            background: url(https://images.pexels.com/photos/2235907/pexels-photo-2235907.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: white;
            position: relative;
            margin-bottom: 75px;
        }
        .price-circle{
            box-sizing: border-box;
            background: #fff;
            font-size: 2rem;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $rozhaFont;
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            color: black;
            transform: translate3d(50%, 50%, 0);
            box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.41);
        }
        .title{
            display: block;
            font-weight: 600;
            font-size: .9rem;
            text-align: center;
        }
        .details{
            line-height: 2;
            font-weight: 300;
            font-size: .8rem;
            margin: 0;
        }
        .boxes{
            padding-bottom: 50px;
            width: 100%;
            @media only screen and (min-width: 425px) {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
        }
    }
    .link{
        color: #000;
        font-family: $regulaSans;
        text-align: center;
        display: inline-block;
        padding-top: 150px;
        text-align: center;
    }
}

.left-img.col-md-6 {
    @media only screen and (min-width: 425px) {
        display: flex;
        justify-content: center;
    }
    @media only screen and (min-width: 375px) {
        display: flex;
        justify-content: center;
    }
    @media only screen and (min-width: 320px) {
        display: flex;
        justify-content: center;
    }
}